<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @student.string %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @student.hobbies %>
</p>

<p>
  <strong>Text:</strong>
  <%= @student.text %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
